<ul id="multi-chart-container" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#Price" aria-controls="Price" role="tab" data-toggle="tab" (click)="switchTab($event)">Price</a>
  </li>
  <li role="presentation">
    <a href="#SMA" aria-controls="SMA" role="tab" data-toggle="tab" (click)="switchTab($event)">SMA</a>
  </li>
  <li role="presentation">
    <a href="#EMA" aria-controls="EMA" role="tab" data-toggle="tab" (click)="switchTab($event)">EMA</a>
  </li>
  <li role="presentation">
    <a href="#STOCH" aria-controls="STOCH" role="tab" data-toggle="tab" (click)="switchTab($event)">STOCH</a>
  </li>
  <li role="presentation">
    <a href="#RSI" aria-controls="RSI" role="tab" data-toggle="tab" (click)="switchTab($event)">RSI</a>
  </li>
  <li role="presentation">
    <a href="#ADX" aria-controls="ADX" role="tab" data-toggle="tab" (click)="switchTab($event)">ADX</a>
  </li>
  <li role="presentation">
    <a href="#CCI" aria-controls="CCI" role="tab" data-toggle="tab" (click)="switchTab($event)">CCI</a>
  </li>
  <li role="presentation">
    <a href="#BBANDS" aria-controls="BBANDS" role="tab" data-toggle="tab" (click)="switchTab($event)">BBANDS</a>
  </li>
  <li role="presentation">
    <a href="#MACD" aria-controls="MACD" role="tab" data-toggle="tab" (click)="switchTab($event)">MACD</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="Price">
    <div [ngSwitch]="(webService.requestStatus | async)?.Price">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get Price data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartPV"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="SMA">
    <div [ngSwitch]="(webService.requestStatus | async)?.SMA">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get SMA data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartSMA"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="EMA">
    <div [ngSwitch]="(webService.requestStatus | async)?.EMA">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get EMA data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartEMA"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="STOCH">
    <div [ngSwitch]="(webService.requestStatus | async)?.STOCH">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get STOCH data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartSTOCH"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="RSI">
    <div [ngSwitch]="(webService.requestStatus | async)?.RSI">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get RSI data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartRSI"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ADX">
    <div [ngSwitch]="(webService.requestStatus | async)?.ADX">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
     </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get ADX data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartADX"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="CCI">
    <div [ngSwitch]="(webService.requestStatus | async)?.CCI">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get CCI data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartCCI"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="BBANDS">
    <div [ngSwitch]="(webService.requestStatus | async)?.BBANDS">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get BBANDS data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartBBANDS"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="MACD">
    <div [ngSwitch]="(webService.requestStatus | async)?.MACD">
      <div *ngSwitchCase="'loading'">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          <span class="sr-only">Error:</span>
          Error! Failed to get MACD data.
        </div>
      </div>
      <div *ngSwitchCase="'OK'" id="chartMACD"></div>
      <div *ngSwitchDefault>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

