<div class="panel panel-default">
  <div class="panel-heading row">
    <div class="col-xs-6">
      <p><b>Favorite List</b></p>
    </div>
    <div class="col-xs-6 text-right">
      Automatic Refresh:
      <input data-toggle="toggle" type="checkbox">
      <button><span class="glyphicon glyphicon-refresh"></span></button>
      <button><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>
  <div class="panel-body">
    <div *ngFor="let brief of webService.stockBrief | async">
      <mat-card class="card">
        <mat-card-title>{{brief.Name}}</mat-card-title>
        <mat-card-content>{{brief.Symbol}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
