<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-input-container>
      <input [ngClass]="{'error': isValid('firstName')}" matInput placeholder="First Name" formControlName="firstName"/>
    </mat-input-container>
    <mat-input-container>
      <input [ngClass]="{'error': isValid('lastName')}" matInput placeholder="Last Name" formControlName="lastName"/>
    </mat-input-container>
    <mat-input-container>
      <input [ngClass]="{'error': isValid('email')}" matInput type="email" placeholder="Email" formControlName="email"/>
    </mat-input-container>
    <mat-input-container>
      <input [ngClass]="{'error': isValid('password')}" matInput type="password" placeholder="Password" formControlName="password"/>
    </mat-input-container>
    <mat-input-container>
      <input [ngClass]="{'error': isValid('confirmPassword')}" matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"/>
    </mat-input-container>
    <span *ngIf="form.errors?.mismatchedFields">Passwords do now match</span>
    <br/>
    <button mat-raised-button>Register</button>
  </form>
</mat-card>
